[Settings]
ShowAllProcesses=FALSE
ShowLegend=TRUE
MorePrecision=TRUE
FullCommandLine=FALSE
ShowStatusIcon=FALSE
MonitorPaintBox=TRUE
ShowApplicationIcons=TRUE
ToolbarStyle=LARGE
PromptTerminateTask=TRUE
RefreshRate=1000
ColumnUID=FALSE
ColumnPID=TRUE
ColumnPPID=FALSE
ColumnState=FALSE
ColumnVSZ=FALSE
ColumnRSS=TRUE
ColumnCPU=TRUE
ColumnPriority=TRUE
SortColumn=7
SortType=1
WindowWidth=939
WindowHeight=1029
HandlePosition=209
ProcessTreeView=TRUE
